#************************************************************************************************
#                            B I G  T R E E T E C H  SKR mini E3 v2.0
#************************************************************************************************
# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v2.0. To use this config, the firmware should be compiled for the
# STM32F103 with a "28KiB bootloader" and USB communication. Also,
# select "Enable extra low-level configuration options" and configure
# "GPIO pins to set at micro-controller startup" to "!PA14".
# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.
# See docs/Config_Reference.md for a description of parameters.

#************************************************************************************************
#                                              P I N Usage
#************************************************************************************************
# Bord pins in use
# XYZ steppers PB0, PB1, PB2, PB10, PB11, PB12, PB13, PB14, PC0, PC5, PC10, PC11
# probe PC14 
# extruder PB3, PB4, PD2, PC8, PA0
# heater_bed PC3, PC9
# heater_fan nozzle_cooling_fan PC7
# fan PC6

#************************************************************************************************
#                     Include Config for external configurations and scripts
#************************************************************************************************
[include system-macros.cfg]                 # Custom Macro's file
[include user-macros.cfg]                   # Custom Macro's file
[include calibration-macros.cfg]            # Custom Macro's file
#[include client-macros.cfg]                # Custom Macro's file

#[include adx1345.cfg]                      # Raspberry Pi Pico MCU Config & Scripts
#[include resonance-tester.cfg              # Custom resonance calculation file

#[include screen.cfg]                       # I2C Screen Config
[include pi-screen.cfg]                     # I2C Screen Config

#[include neopixel.cfg]                      # LED Bar Config on printer board MCU
#[include neopixel-pi.cfg]                   # LED Bar Config on raspberry pi MCU

#************************************************************************************************
#                        Connected Printer boards and misc MCU Config
#************************************************************************************************
[mcu]
serial: /dev/ttyAMA0
baud: 115200
restart_method: command

[mcu host]
serial: /tmp/klipper_host_mcu

# The rpi microcontroller is used as secondary.
# Typically, both the X and Y axes
# are connected to the main micro-controller. The rpi microcontroller is used
# on non time-critical functions such as enclosure sensors, additional fan or
# light sources

#Positron BIGTREETECH SKR mini # E3 v2.0 1e
#serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_36FFDB055359393504772143-if00  #oude

#Positron BIGTREETECH SKR mini # E3 v2.0 2e
#serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_39FFD9054247333130652257-if00 #Nieuwe

#Positron BIGTREETECH SKR mini # E3 v3.0 3e
#/dev/serial/by-id/usb-Klipper_stm32g0b1xx_220038000C50345033313820-if00

#**********************************************************************
#                      MCU Startup Pin config (NEW)
#**********************************************************************
[static_digital_output usb_pullup_enable]
pins: !PA14 		#Om i2c pin vrij te geven

#**********************************************************************
#                           MCU Pin Config
#**********************************************************************
[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>

#************************************************************************************************
#                                     virtual_sdcard Config
#************************************************************************************************
[virtual_sdcard]
path: ~/gcode_files

#************************************************************************************************
#                                       Stepper Config
#************************************************************************************************
[stepper_x]
endstop_pin: tmc2209_stepper_x:virtual_endstop
homing_retract_dist: 0
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 56.9317
#endstop_pin: ^PC0
position_endstop: 0
position_max: 165
homing_speed: 25
homing_retract_dist: 0

[tmc2209 stepper_x]
diag_pin: ^PC0      # Set to MCU pin connected to TMC DIAG pin
driver_SGTHRS: 42  # 255 is most sensitive value, 0 is least sensitive
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.28
hold_current: 0.150
stealthchop_threshold: 9999

[stepper_y]
endstop_pin: tmc2209_stepper_y:virtual_endstop
homing_retract_dist: 0
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 56.9317
#endstop_pin: ^PC1
position_endstop: 0
position_max: 175
homing_speed: 25
homing_retract_dist: 0

[tmc2209 stepper_y]
diag_pin: ^PC1      # Set to MCU pin connected to TMC DIAG pin
driver_SGTHRS: 44  # 255 is most sensitive value, 0 is least sensitive
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.28
hold_current: 0.15
stealthchop_threshold: 9999

[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 8
rotation_distance: 1.596
endstop_pin = probe:z_virtual_endstop
position_min = -1.5
position_max: 125

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.5
hold_current: 0.25
stealthchop_threshold: 0

#************************************************************************************************
#                                        Safe Homing Config
#************************************************************************************************
[safe_z_home]
home_xy_position: 66,117 # Change coordinates to the center of your print bed
speed: 100
z_hop: 4                # Move up 5mm
z_hop_speed: 5

#************************************************************************************************
#                                         Bed Probe Config
#************************************************************************************************
[probe]
pin: ^PC14
x_offset: 16
y_offset: -32
z_offset: 0.35
speed: 3
samples: 3
sample_retract_dist: 2

#************************************************************************************************
#                                       Bed Mesh Leveling Config
#************************************************************************************************
[bed_mesh]
speed = 200
mesh_min = 17, 17
mesh_max = 152,123
probe_count = 3,3
mesh_pps = 2,2

#************************************************************************************************
#                                          Extruder Config
#************************************************************************************************
[extruder]
step_pin: PB3
dir_pin: PB4
enable_pin: !PD2
microsteps: 8
rotation_distance: 0.451
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: NTC 100K beta 3950
sensor_pin: PA0 #Pin Header TH0
control: pid
pid_Kp: 21.73
pid_Ki: 1.54
pid_Kd: 77
min_temp: -100
max_temp: 250
pressure_advance: 0.30

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.52
hold_current: 0.25
stealthchop_threshold: 0

#************************************************************************************************
#                                          Heaters Config
#************************************************************************************************
[heater_bed]
heater_pin: PC9 
sensor_type: NTC 100K beta 3950
sensor_pin: PC3 #Pin Header THB
control: pid
pid_Kp: 50.7
pid_Ki: 10
pid_Kd: 173.5
min_temp: -100
max_temp: 85

#************************************************************************************************
#                                          Fans Config
#************************************************************************************************
#[heater_fan controller_fan]
#pin: PB15
#heater: heater_bed
#heater_temp: 45.0

[heater_fan nozzle_cooling_fan]
pin: PC7
kick_start_time: 1

[fan]
pin: PC6
kick_start_time: 1

#************************************************************************************************
#                                        Printer type Config
#************************************************************************************************
[printer]
kinematics: corexy
max_velocity: 300
max_accel: 5000
max_accel_to_decel: 5000
max_z_velocity: 10
max_z_accel: 90
square_corner_velocity: 5

#************************************************************************************************
#                                       Input shaper Config
#************************************************************************************************
[input_shaper]
shaper_freq_x: 70
shaper_freq_y: 64
shaper_type: mzv


#************************************************************************************************
#                                         Misc Config
#************************************************************************************************
[display_status]
[pause_resume]


#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
