#************************************************************************************************
#                            B I G  T R E E T E C H  SKR mini E3 v2.0
#************************************************************************************************
# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v2.0. To use this config, the firmware should be compiled for the
# STM32F103 with a "28KiB bootloader" and USB communication. Also,
# select "Enable extra low-level configuration options" and configure
# "GPIO pins to set at micro-controller startup" to "!PA14".
# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.
# See docs/Config_Reference.md for a description of parameters.

#************************************************************************************************
#                                              P I N Usage
#************************************************************************************************
# Bord pins in use
# XYZ steppers PB0, PB1, PB2, PB10, PB11, PB12, PB13, PB14, PC0, PC5, PC10, PC11
# probe PC14 
# extruder PB3, PB4, PD2, PC8, PA0
# heater_bed PC3, PC9
# heater_fan nozzle_cooling_fan PC7
# fan PC6

#************************************************************************************************
#                     Include Config for external configurations and scripts
#************************************************************************************************
[include system-macros.cfg]                 # Custom Macro's file
[include user-macros.cfg]                   # Custom Macro's file
[include calibration-macros.cfg]            # Custom Macro's file
#[include client-macros.cfg]                # Custom Macro's file

#[include adx1345.cfg]                      # Raspberry Pi Pico MCU Config & Scripts
#[include resonance-tester.cfg              # Custom resonance calculation file

#[include screen.cfg]                       # I2C Screen Config
[include pi-screen.cfg]                     # I2C Screen Config

#[include neopixel.cfg]                      # LED Bar Config on printer board MCU
#[include neopixel-pi.cfg]                   # LED Bar Config on raspberry pi MCU
#************************************************************************************************
#                        Connected Printer boards and misc MCU Config
#************************************************************************************************
[include mcu.cfg]                           # Host MCU Config
[include pimcu.cfg]                         # Raspberry Pi Host MCU Config

#************************************************************************************************
#                                     virtual_sdcard Config
#************************************************************************************************
[virtual_sdcard]
path: ~/gcode_files

#************************************************************************************************
#                                       Stepper Config
#************************************************************************************************
[include stepper.cfg]

#************************************************************************************************
#                                        Safe Homing Config
#************************************************************************************************
[include savehoming.cfg]
#************************************************************************************************
#                                         Bed Probe Config
#************************************************************************************************
[include bedprobe.cfg]

#************************************************************************************************
#                                       Bed Mesh Leveling Config
#************************************************************************************************
[include bedmesh.cfg]

#************************************************************************************************
#                                          Extruder Config
#************************************************************************************************
[include extruder.cfg]

#************************************************************************************************
#                                          Heaters Config
#************************************************************************************************
[include heaters.cfg]

#************************************************************************************************
#                                          Fans Config
#************************************************************************************************
[include fans.cfg]

#************************************************************************************************
#                                        Printer type Config
#************************************************************************************************
[include printertype.cfg]

#************************************************************************************************
#                                       Input shaper Config
#************************************************************************************************
[include inputshaper.cfg]

#************************************************************************************************
#                                         Misc Config
#************************************************************************************************
[display_status]
[pause_resume]


#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.